@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 8.6%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 8.6%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 8.6%;
    --primary: 0 0% 12.9%;
    --primary-foreground: 0 0% 98.9%;
    --secondary: 0 0% 98%;
    --secondary-foreground: 0 0% 12.9%;
    --muted: 0 0% 98%;
    --muted-foreground: 0 0% 33.6%;
    --accent: 0 0% 98%;
    --accent-foreground: 0 0% 12.9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98.9%;
    --border: 0 0% 57.2%;
    --input: 0 0% 57.2%;
    --ring: 0 0% 44.1%;
    --radius: 0.625rem;
  }

  .dark {
    --background: 0 0% 8.6%;
    --foreground: 0 0% 98.9%;
    --card: 0 0% 8.6%;
    --card-foreground: 0 0% 98.9%;
    --popover: 0 0% 8.6%;
    --popover-foreground: 0 0% 98.9%;
    --primary: 0 0% 98.9%;
    --primary-foreground: 0 0% 12.9%;
    --secondary: 0 0% 15.2%;
    --secondary-foreground: 0 0% 98.9%;
    --muted: 0 0% 15.2%;
    --muted-foreground: 0 0% 44.1%;
    --accent: 0 0% 15.2%;
    --accent-foreground: 0 0% 98.9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.9% 59.4%;
    --border: 0 0% 15.2%;
    --input: 0 0% 15.2%;
    --ring: 0 0% 27.1%;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

h1 {
  @apply text-4xl md:text-5xl font-semibold;
}

h2 {
  @apply text-2xl md:text-3xl font-semibold;
}

h3 {
  @apply text-xl font-semibold;
}
